body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .chat-messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .message {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .message.sender {
    background-color: #dcf8c6;
    text-align: right;
  }
  
  .message.receiver {
    background-color: #e8e8e8;
  }
  
  .message p {
    margin: 0;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .input-container button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .input-container button:hover {
    background-color: #0056b3;
  }
  